In [1]:
import pandas as pd
#!pip install geopandas
import geopandas as gpd

In [3]:
merge_table_final = pd.read_json("merge_table_final.json")
merge_table_final.head()

,ADW,Homicide,Robbery,Sex_Abuse,BG,BG_ID,total_pop,pct_poverty,pct_unemployed,pct_vacancy,Total_Violent_Crime
0,3,0,2,1,1001,A0001001,1382,0.000000,0.000000,16.620879,6
1,3,0,10,2,1002,A0001002,1463,3.075871,5.433746,15.702479,15
10,2,0,0,0,3002,A0003002,1492,5.093834,2.756892,0.000000,2
100,6,0,12,1,21025,A0021025,502,20.119522,2.769231,0.000000,19
101,12,0,14,1,21026,A0021026,701,15.121255,6.621005,12.054795,27

In [9]:
block_groups = gpd.read_file("Census_Block_Groups__2010.geojson")

block_groups['BG_ID'] = 'A' + block_groups["GEOID"].str[5:]

block_groups.head()

,OBJECTID,TRACT,BLKGRP,GEOID,P0010001,P0010002,P0010003,P0010004,P0010005,P0010006,...,OP000014,OP000015,OP000016,H0010001,H0010002,H0010003,SHAPE_Length,SHAPE_Area,geometry,BG_ID
0,1,000100,4,110010001004,1000,985,893,34,2,45,...,3,4,0,634,533,101,6569.746991,1.162392e+06,POLYGON ((-77.05707530112326 38.90769978737089...,A0001004
1,2,000201,1,110010002011,3916,3736,2940,259,7,482,...,16,114,6,2,2,0,3249.765438,5.395519e+05,POLYGON ((-77.07411930810323 38.91259278700532...,A0002011
2,3,000202,1,110010002021,1196,1177,1081,25,2,56,...,1,6,3,604,547,57,2684.900636,1.920121e+05,POLYGON ((-77.06567930445408 38.91182678677541...,A0002021
3,4,000202,2,110010002022,813,792,749,3,1,35,...,2,6,0,395,366,29,1505.972723,1.355407e+05,POLYGON ((-77.06890030580993 38.90774378687865...,A0002022
4,5,000202,3,110010002023,1053,1032,954,15,1,57,...,4,8,1,505,455,50,1615.539725,1.544660e+05,POLYGON ((-77.06701530462304 38.90509378547841...,A0002023